<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="org.eclipse.emf.refactor.metrics">
<metric id="org.eclipse.emf.refactor.metrics.neatc" metric_calculate_class="org.eclipse.emf.refactor.metrics.NEATC" metric_context="EClass" metric_description="Number of equal EAttributes with other EClasses" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="NEATC"/>
<metric id="org.eclipse.emf.refactor.metrics.naptc" metric_calculate_class="org.eclipse.emf.refactor.metrics.NAPTC" metric_context="EClass" metric_description="Number of EAttributes within the class being of primitive type" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="NAPTC"/>
<metric id="org.eclipse.emf.refactor.metrics.nidtc" metric_calculate_class="org.eclipse.emf.refactor.metrics.NIDTC" metric_context="EClass" metric_description="Number of incoming dependencies from classes" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="NIDTC"/>
<metric id="org.eclipse.emf.refactor.metrics.nodtc" metric_calculate_class="org.eclipse.emf.refactor.metrics.NODTC" metric_context="EClass" metric_description="Number of outgoing dependencies to EClasses" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="NODTC"/>
</extension>
</plugin>
