<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
	<extension point="org.eclipse.emf.refactor.smells">
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.wideHieararchy" modelsmell_description="Wide Hierarchy" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.WideHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="WideHierarchy"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.deepHierarchy" modelsmell_description="Deep Hierarchy" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.DeepHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="DeepHierarchy"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.missingAbstraction_DataClumpsAttributes" modelsmell_description="Missing Abstraction based on Data Clumps with Attributes" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.MissingAbstraction_DataClumpsAttributes" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="MissingAbstraction_DataClumpsAttributes"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.missingAbstraction_PrimitiveObessionPrimitiveTypes" modelsmell_description="Missing Abstraction based on Primitive Obession with primitive types" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.MissingAbstraction_PrimitiveObessionPrimitiveTypes" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="MissingAbstraction_PrimitiveObessionPrimitiveTypes"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.redundantContainerRelation" modelsmell_description="Explicit container reference is modeled but is unnecessary" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.RedundantContainerRelation" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="ContainerRelation"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.obligatoryContainerRelation" modelsmell_description="A containment relation has an opposite reference thas has a lower bound of 1." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.ObligatoryContainerRelation" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="ContainerRelation (Obligatory)"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.multipathHierarchy" modelsmell_description="A subtype inherits in two or more ways from the same supertype." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.MultipathHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="MultipathHierarchy"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.cyclicHierarchy" modelsmell_description="Cyclic Hierarchy" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.CyclicHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="CyclicHierarchy"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.unutilizedAbstraction_UnusedClasses" modelsmell_description="EClass is not used" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.UnutilizedAbstraction_UnusedClasses" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="UnutilizedAbstraction_UnusedClasses"/>
		<modelsmell id="org.eclipse.emf.refactor.modelsmell.unutilizedAbstraction_UnusedEnumeration" modelsmell_description="EEnumeration is not used" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.UnutilizedAbstraction_UnusedEnumeration" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="UnutilizedAbstraction_UnusedEnumeration"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.specialiazation_Aggregation" modelsmell_description="Specialization Aggregation" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.SpecializationAggregation" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Specialization Relation"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.hubLikeModularization_IncomingDependencies" modelsmell_description="Hub-Like Modularization Incoming Dependencies" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.HubLikeModularization_IncomingDependencies" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="HubLikeModularization_IncomingDependencies"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.hubLikeModularization" modelsmell_description="Hub-Like Modularization Outgoing Dependencies" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.HubLikeModularization_OutgoingDependencies" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="HubLikeModularization_OutgoingDependencies"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.lateHierarchy" modelsmell_description="Late Hiearchy" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.LateHierarchy" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="LateHierarchy"/>
<modelsmell id="org.eclipse.emf.refactor.modelsmell.cyclicDependentModularization" modelsmell_description="Cyclic-Dependent Modularization" modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.CyclicDependentModularization" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="CyclicDependentModularization"/>
</extension>
</plugin>
